enrich {

  streams {

    in {
      raw = "good_raw"
    }

    out {
      enriched = "good_enrich"
      bad = "bad_enrich"
      partitionKey = "event_id"
    }

    sourceSink {
      enabled =  "kafka"
      brokers = "kafka:9092"
      retries = 2
    }

    buffer {
      byteLimit = 1000000000
      recordLimit = 1
      timeLimit = 5000
    }

    appName = "snowplow-enrich"
  }

  # Optional section for tracking endpoints
  #monitoring {
  #  snowplow {
  #    collectorUri = "{{collectorUri}}"
  #    collectorPort = 80
  #    appId = {{enrichAppName}}
  #    method = GET
  #  }
  #}
}